html{
    scroll-behavior: smooth;
}
body{
    font-family: $font-primary;
    background-color: $color-primary;
    color: $color-text;
    font-weight: 500;
    overflow-x: hidden;
    // background-image: url("./../../img/003902_flat.jpg");
    // background-position: center;
    // background-size: cover;
}
.container{
    max-width: 1590px;
    padding: 0 15px;
    margin: 0 auto;
}
.hide{
    display: none !important;
    opacity: 0;
    visibility: 0;
    pointer-events: none;
}