.wrapper{
    &__content{
        display: flex;
        min-height: calc(100vh - 60px);
    }
}
.route-line{
    flex: 0 0 auto;
    height: calc(100vh - 60px);
    position: sticky;
    top: 60px;
    @media (max-width: 767px) {
        display: none;
    }
}
.main{
    flex: 1 1 auto;
}
.section-main{
    width: 100%;
    height: 1px;
    min-height: calc(100vh - 60px);
    position: relative;
    padding: 0 clamp(1.25rem, -7.692rem + 14.42vw, 3.125rem);
    &__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    @media screen and (max-width: 992px) {
        height: auto;
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
    }
    @media (max-width: 767px) {
        padding: 0;
    }
}
.back-div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    &__wrapper{
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__text{
        position: absolute;
        font-weight: 800;
        text-transform: uppercase;
        text-wrap: nowrap;
        color: #202020;
        &_1{
            top: -45px;
            left: 0;
            font-size: clamp(14.063rem, 6.611rem + 12.02vw, 15.625rem);
        }
        &_2{
            bottom: -40px;
            left: 0;
            font-size: clamp(14.063rem, 6.611rem + 12.02vw, 15.625rem);
        }
        &_f{
            display: inline-block;
        }
    }
    @media (max-width: 991px) {
        display: none;
    }
}
.brief-information{
    flex: 1 1 auto;
    margin-top: 50px;
    height: auto;
    &__greeting{
        font-size: 40px;
    }
    &__introduction{
        font-size: clamp(10.625rem, -4.279rem + 24.04vw, 13.75rem);
        text-transform: uppercase;
        text-wrap: nowrap;
        &_vertical{
            position: relative;
            writing-mode: vertical-rl;
            font-size:  clamp(2.125rem, -0.558rem + 4.33vw, 2.688rem);
            color: $color-secondary;
            margin-bottom: -2px;
            cursor: pointer;
        }
    }
    &__definition{
        margin-top: -20px;
        font-size: clamp(2.688rem, 0.601rem + 3.37vw, 3.125rem);
        text-transform: uppercase;
        color: $color-text--dark;
        text-wrap: wrap;
    }
    &__buttons{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        &__introduction{
            // 260 - 325; 
            font-size: clamp(16.25rem, 2.259rem + 29.15vw, 20.313rem);
            &_vertical{
                // 51 - 64
               font-size: clamp(3.188rem, 0.389rem + 5.83vw, 4rem); 
            }
        }
        &__definition{
          font-size: 50px;
        }
    }
    @media (min-width: 320px) and (max-width: 767px) {
        &__introduction{
            // 100 - 250; 
            font-size: clamp(6.25rem, -0.461rem + 33.56vw, 15.625rem);
            &_vertical{
                // 20.5 - 50
               font-size: clamp(1.281rem, -0.039rem + 6.6vw, 3.125rem); 
            }
        }
        &__definition{
          font-size: clamp(1.281rem, -0.039rem + 6.6vw, 3.125rem);
        }
    }
    @media (max-width: 991px) {
        margin-top: 0;
    }
    @media (max-width: 490px) {
        &__buttons{
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }
    }
}
.appeared-bg-wrapper{
    position: absolute;
    width: 100vw;
    height: 300vh;
    overflow: hidden;
}
.appeared-bg{
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0;
    background-color: $color-secondary;
}
.portrait{
    flex: 1 1 600px;
    min-width: 420px;
    max-width: 600px;
    position: relative;
    &__tooltip{
        position: absolute;
        right: -50px;
        top: 100px;
        z-index: 0;
    }
    &__tooltip-text{
        margin-top: -10px;
        font-size: 16px;
        text-transform: uppercase;
        opacity: 0;
        &_my{
            transform: translate(16px, 0);
        }
        &_name{
            transform: translate(0, 8px);
            color: $color-secondary;
        }
    }
    &__tooltip-line-point{
        position: relative;
        margin-left: -10px;
    }
    &__tooltip-line{
        margin-top: -15px;
        // opacity: 0;
    }
    &__point{
        width: 5px;
        height: 5px;
        background-color: $color-secondary;
        border-radius: 50%;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(-50%);
        opacity: 0;
    }
    .webgl{
        width: 100% !important;
        height: auto !important;
        position: relative;
        z-index: 1;
        aspect-ratio: 1 / 1.25;
    }
    @media screen and (max-width: 991px) {
        flex: 1 1 auto;
        min-width: 550px;
    }
    @media (max-width: 767px) {
        min-width: auto;
        width: 100%;
        &__tooltip{
            right: 0;
            top: 50%;
        }
    }
}
.spline{
    position: fixed;
    transform: scale(1);
    z-index: 0;
}
.section-about{
    padding: 100px 0 0 clamp(1.25rem, -7.692rem + 14.42vw, 3.125rem);
    width: 100%;
    position: relative;
    &__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 100px;
    }
    &__date{
        flex: 0 0 auto;
        display: flex;
        align-items: center;
    }
    @media screen and (max-width: 991px) {
        &__wrapper{
            flex-direction: column;
            gap: 0;
        }
    }
    @media (max-width: 767px) {
        padding: 0;
    }
}
.full-information{
    flex: 1 1 auto;
    &__text{
        text-align: justify;
        text-transform: uppercase;
        font-size: 30px;
        transform: translate(0, 0);
    }
    &__text:not(:first-child){
        margin-top: 10px;
    }
    @media (min-width: 320px) and (max-width: 650px) {
        &__text{
            font-size: clamp(1.25rem, 0.644rem + 3.03vw, 1.875rem);
        }
    }
}
.date{
    display: flex;
    align-items: center;
    gap: 8px;
    &__nums{
        font-size: clamp(6.25rem, 3.22rem + 15.15vw, 9.375rem);
        font-family: $font-nums;
        display: flex;
        gap: 5px;
    }
    &__num{
        display: inline-block;
    }
    &__month{
        font-size: clamp(1.25rem, 0.644rem + 3.03vw, 1.875rem);
        text-transform: uppercase;
        display: block;
        opacity: 1;
    }
    &__text{
        color: $color-text--darken;
        text-transform: uppercase;
        display: block;
        opacity: 1;
        font-size: clamp(0.813rem, 0.631rem + 0.91vw, 1rem);
    }
}
.section-portfolio{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-left: clamp(1.25rem, -7.692rem + 14.42vw, 3.125rem);
    &__wrapper{
        padding: 100px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 150px 0;
    }
    @media (max-width: 767px) {
        padding: 0;
    }
}
.portfolio-card{
    cursor: pointer;
    &__wrapper{
        height: 100%;
        display: flex;
        gap: 20px;
        position: relative;
    }
    &__info{
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: 50px;
        text-wrap: nowrap;
        .split-text__letter{
            transform: translate(0, 50px);
        }
    }
    &__text{
        margin-top: -5px;
        font-size: 27px;
        color: $color-text--darken;
        text-wrap: nowrap;
        .split-text__letter{
            transform: translate(0, 50px);
        }
    }
    &__block{
        flex: 0 1 auto;
        max-width: 750px;
        height: auto;
        max-height: 350px;
        position: relative;
    }
    &__image{
        width: 100%;
        height: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__button{
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0;
        transform: translate(50%, -50%) scale(.5);
        width: 200px;
        height: 200px;
    }
    &:nth-child(odd) {
        .portfolio-card__image{
            transform: translate(-50px, 50px);
        }
    }
    &:nth-child(even) {
        .portfolio-card__wrapper{
            flex-direction: row-reverse;
        }
        .portfolio-card__title, .portfolio-card__text{
            text-align: right;
        }
        .portfolio-card__image{
            transform: translate(50px, 50px);
        }
        .portfolio-card__button{
            left: 0;
            transform: translate(-50%, -50%) scale(.5);
        }
    }
    @media (max-width: 650px) {
        &__wrapper{
            flex-direction: column-reverse !important;
        }
    }
    @media (max-width: 767px) {
        &__button{
            width: clamp(6.25rem, 1.776rem + 22.37vw, 12.5rem);
            height: clamp(6.25rem, 1.776rem + 22.37vw, 12.5rem);
            .circle-link__link{
                font-size: clamp(1rem, 0.553rem + 2.24vw, 1.625rem);
            }
        }
    }
}
.popup-portfolio-card{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    opacity: 0;
    z-index: -1;
    padding: 15px;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    &__header{
        width: 100%;
        display: flex;
        margin-bottom: auto;
    }
    &__close{
        margin-left: auto;
        position: relative;
        height: 30px;
        flex: 0 0 30px;
        cursor: pointer;
    }
    &__close-line{
        display: block;
        width: 0;
        height: 2px;
        background-color: $color-text--dark;
        position: absolute;
        left: 50%;
        top:50%;
        &_1{
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &_2{
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &__body{
        display: flex;
        gap: 50px;
    }
    &__info{
        flex: 0 0 auto;
    }
    &__title{
        font-size: 60px;
        text-transform: uppercase;
        .split-text__letter{
            transform: translate(0, 15px);
            opacity: 0;
        }
    }
    &__description{
        font-size: 20px;
        text-transform: uppercase;
        max-width: 250px;
        color: $color-text--dark;
        .split-text__letter{
            transform: translate(0, 15px);
            opacity: 0;
        }
    }
    &__img{
        flex: 1 1 auto;
        max-width: 1000px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
        }
    }
    &__footer{
        margin-top: auto;
        position: relative;
        padding: 25px 0;
    }
    &__line{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
        height: 1px;
        background-color: $color-text--dark;
    }
    &__footer-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text{
        font-size: 20px;
        color: $color-text--dark;
        .split-text__letter{
            transform: translate(0, 15px);
            opacity: 0;
        }
    }
    &__link{
        color: $color-text--dark;
        font-size: 20px;
        .split-text__letter{
            transform: translate(0, 15px);
            opacity: 0;
        }
    }
    @media (max-width: 767px) {
        &__body{
            flex-direction: column;
            gap: 10px;
        }
        &__description{
            max-width: 100%;
        }
    }
}
.popup-card{
    position: fixed;
    z-index: -1;
    opacity: 0;
    img{
        width: 100%;
        height: 100%;
    }
}
.section-skills{
    display: grid;
    grid-template-columns: 1fr;
    max-width: calc(100vw - 30px);
    padding-left: clamp(1.25rem, -7.692rem + 14.42vw, 3.125rem);
    &__wrapper{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100vh;
        position: relative;
    }
    &__line{
        flex: 1 1 50%;
        display: inline-flex;
        gap: 15px;
        position: relative;
    }
    @media (max-width: 767px) {
        max-width: calc(100vw - 30px);
    }
    @media (max-width: 767px) {
        padding: 0;
    }
}
.stack-button{
    position: fixed;
    z-index: 3;
    right: 15px;
    bottom: 15px;
    width: 100px;
    height: 100px;
    transform: translate(calc(100% + 30px), 0);
   .circle-link__link{
        font-size: 16px;
    }
}
.stack{
    position: fixed;
    z-index: 5;
    right: 0;
    width: 600px;
    height: 100vh;
    max-height: 100vh;
    background-color: $color-primary;
    pointer-events: none;
    transform: translate(0, 100%);
    overflow-y: auto;
    &__container{
        padding: 15px;
        width: 100%;
    }
    &__header{
        width: 100%;
        display: flex;
        margin-bottom: auto;
    }
    &__close{
        margin-left: auto;
        position: relative;
        height: 30px;
        flex: 0 0 30px;
        cursor: pointer;
    }
    &__close-line{
        display: block;
        width: 0;
        height: 2px;
        background-color: $color-text--dark;
        position: absolute;
        left: 50%;
        top:50%;
        &_1{
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &_2{
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &__column-list{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__column-list-item{
        width: 100%;
    }   
    &__column-list-title{
        font-size: clamp(2.5rem, 1.894rem + 3.03vw, 3.125rem);
        text-transform: uppercase;
        color: $color-text;
        .split-text__letter{
            opacity: 0;
            transform: translate(0, 50px);
        }
    }
    &__column-list-line{
        display: block;
        width: 0;
        height: 0.8px;
        border-radius: 30px;
        background-color: $color-text--dark;
    }
    &__horizontal-list{
        margin-top: 5px;
        width: 100%;
        display: flex;
        gap: 15px;
        align-items: center;
    }
    &__item{
        flex: 0 0 clamp(2.5rem, 1.894rem + 3.03vw, 3.125rem);
        transform: translate(0, 50%);
        opacity: 0;
    }
    &__item-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__item-img{
        width: 100%;
        height: clamp(2.5rem, 1.894rem + 3.03vw, 3.125rem);
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__item-title{
        text-transform: uppercase;
    }
    @media (max-width: 991px) {
        width: 100vw;
    }
}
.skill-card{
    flex: 1 1 auto;
    min-width: 40%;
    height: 100%;
    background-color: #202020;
    padding: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    &__header{
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        align-items: start;
        margin-bottom: auto;
    }
    &__num{
        margin-left: auto;
        font-size: 40px;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
    }
    &__bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 5%;
        height: 5%;
        border-radius: 50%;
        opacity: 0;
        background-color: $color-secondary;
        z-index: 0;
    }
    &__body{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__title-wrapper{
        position: relative;
        font-size: clamp(4.313rem, 0.74rem + 5.76vw, 6.25rem);
    }
    &__title{
        margin-top: auto;
        text-transform: uppercase;
        letter-spacing: 2px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        position: relative;
        overflow: hidden;
    }
    &__title-before{
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: transparent;
        -webkit-text-fill-color: $color-text--darken;
        -webkit-text-stroke-width: 1.3px;
        height: 0;
        overflow: hidden;
    }
    &__title-after{
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: transparent;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1.3px;
        width: 0%;
        overflow: hidden;
    }
    @media (max-width: 991px) {
        min-width: 50%;
    }
    @media (max-width: 768px) {
        min-width: 100%;
        &__title-wrapper{
            font-size: clamp(3.125rem, -0.893rem + 20.09vw, 8.75rem);
        }
    }
}
.section-contact{
    width: 100%;
    padding-left: clamp(1.25rem, -7.692rem + 14.42vw, 3.125rem);
    &__title{
        text-align: center;
        font-size: 10vw;
        text-transform: uppercase;
    }
    &__blocks{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 75px;
    }
    &__feedback{
        width: 100%;
        flex: 1 1 50%;
    }
    &__globe{
        width: 90%;
        flex: 1 1 50%;
    }
    @media screen and (max-width: 992px) {
        height: auto;
        &__blocks{
            flex-direction: column-reverse;
            align-items: center;
            gap: 25px;
        }
    }
    @media (max-width: 767px) {
        padding: 100px 0;
    }
}
.form{
    &__input-list{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__input-row{
        display: flex;
        gap: 15px;
    }
    &__input-item{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__input-label{
        color: $color-text;
        font-size: 14px;
        margin-left: 20px;
    }
    &__button-group{
        margin-top: 30px;
    }
    @media screen and (max-width: 410px) {
        &__input-row{
            flex-direction: column;
            gap: 30px;
        }
    }
}
.input-group{
    border: 2px solid rgb(68, 68, 68);
    background-color: transparent;
    border-radius: 25px;
    padding: clamp(0.5rem, -0.045rem + 2.73vw, 1.063rem) clamp(0.25rem, -0.114rem + 1.82vw, 0.625rem);
    cursor: pointer;
    transition: border .5s ease;
    &__wrapper{
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;
    }
    &__block{
        flex: 1 1 auto;
        input{
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: $color-text;
            &::placeholder{
                color: rgb(68, 68, 68);
                transition: color .5s ease;
            }
        }
    }
    &__error{
        flex: 0 0 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    &__warning{
        flex: 0 0 20px;
        height: 20px;
        background-color: red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0, 100%);
        transition: transform .3s ease;
        &::before{
            content: "\21";
            @include font-awesome;
            color: rgb(236, 236, 236);
        }
    }
    .error-active{
        transform: translate(0, 0);
    }
    &:hover{
        border: 2px solid $color-secondary;
    }
    &:hover input::placeholder{
        color: $color-secondary;
    }
}
.textarea-group{
    border: 2px solid rgb(68, 68, 68);
    background-color: transparent;
    border-radius: 25px;
    padding: 17px 10px 0 10px;
    cursor: pointer;
    transition: border .5s ease;
    &__wrapper{
        width: 100%;
        position: relative;
    }
    &__block{
        width: 100%;
        textarea{
            width: 100%;
            height: 100%;
            background-color: transparent;
            min-height: 75px;
            max-height: 150px;
            resize: vertical;
            color: $color-text;
            &::placeholder{
                color: rgb(68, 68, 68);
                transition: color .5s ease;
            }
        }
    }
    &__error{
        position: absolute;
        width: 20px;
        height: 20px;
        right: 0;
        top: 0;
        overflow: hidden;
    }
    &__warning{
        width: 100%;
        height: 100%;
        background-color: red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0, 100%);
        transition: transform .3s ease;
        &::before{
            content: "\21";
            @include font-awesome;
            color: rgb(236, 236, 236);
        }
    }
    .error-active{
        transform: translate(0, 0);
    }
    &:hover{
        border: 2px solid $color-secondary;
    }
    &:hover textarea::placeholder{
        color: $color-secondary;
    }
}
.globe{
    min-width: 450px;
    position: relative;
    &__circle{
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        cursor: grab;
        &:active{
            cursor: grabbing;
        }
    }
    canvas{
        width: 100% !important;
        height: auto !important;
        position: relative;
        z-index: 1;
        aspect-ratio: 1 / 1;
    }
    &__title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.5vw;
        text-transform: uppercase;
        text-wrap: nowrap;
        pointer-events: none;
        -webkit-text-fill-color:transparent;
        -webkit-text-stroke-width: 2px;
        &_front{
            z-index: 2;
            color: $color-secondary;
        }
        &_back{
            z-index: 0;
            -webkit-text-fill-color: white;
            color: white;
        }
    }
    @media screen and (max-width: 992px) {
        min-width: auto;
    }
}
.popup-submit-result{
    position: fixed;
    z-index: 3;
    right: 15px;
    transform: translate(calc(100% + 15px), 0);
    top: 85px;
    padding: 10px;
    background-color: #202020;
    border-radius: 10px;
    transition: transform .5s ease;
    &__text{

    }
    &_active{
        transform: translate(0, 0);
    }
}