.wrapper{
    &__content{
        display: flex;
        min-height: calc(100vh - 60px);
    }
}
.route-line{
    flex: 0 0 auto;
    height: calc(100vh - 60px);
    position: sticky;
    top:0;
}
.main{
    flex: 1 1 100%;
}
.section-main{
    padding-left: 100px;
    width: 100%;
    position: relative;
    &__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }
}
.back-div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    &__wrapper{
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__text{
        position: absolute;
        font-weight: 800;
        text-transform: uppercase;
        color: #202020;
        &_1{
            top: -10px;
            left: 50px;
            font-size: 250px;
        }
        &_2{
            top: 400px;
            left: 50px;
            font-size: 250px;
        }
        &_f{
            display: inline-block;
        }
    }
}
.brief-information{
    flex: 1 1 auto;
    height: auto;
    &__greeting{
        font-size: 40px;
    }
    &__introduction{
        font-size: 170px;
        text-transform: uppercase;
        &_vertical{
            writing-mode: vertical-rl;
            font-size: 34px;
            color: $color-secondary;
            margin-bottom: -2px;
        }
    }
    &__definition{
        margin-top: -20px;
        font-size: 40px;
        text-transform: uppercase;
        color: $color-text--dark;
    }
    &__buttons{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.portrait{
    flex: 0 0 600px;
    height: 100%;
    position: relative;
    &__tooltip{
        position: absolute;
        right: 0px;
        top: 100px;
        z-index: 0;
    }
    &__tooltip-wrapper{
    }
    &__tooltip-text{
        margin-top: -10px;
        font-size: 16px;
        text-transform: uppercase;
        opacity: 0;
        &_my{
            transform: translate(16px, 0);
        }
        &_name{
            transform: translate(0, 8px);
            color: $color-secondary;
        }
    }
    &__tooltip-line-point{
        position: relative;
        margin-left: -10px;
    }
    &__tooltip-line{
        margin-top: -15px;
        // opacity: 0;
    }
    &__point{
        width: 5px;
        height: 5px;
        background-color: $color-secondary;
        border-radius: 50%;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(-50%);
        opacity: 0;
    }
    .webgl{
        position: relative;
        z-index: 1;
    }
}
.section-about{
    padding: 100px 100px 100px 100px;
    width: 100%;
    position: relative;
    &__wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 100px;
    }
    &__date{
        flex: 0 0 auto;
        display: flex;
        align-items: center;
    }
}
.full-information{
    flex: 1 1 auto;
    &__text{
        text-align: justify;
        text-transform: uppercase;
        font-size: 30px;
        transform: translate(0, 0);
    }
    &__text:not(:first-child){
        margin-top: 10px;
    }
}
.date{
    display: flex;
    align-items: center;
    gap: 8px;
    &__nums{
        font-size: 150px;
        font-family: $font-nums;
        display: flex;
    }
    &__num{
        display: inline-block;
        min-width: 110px;
    }
    &__info{
    }
    &__month{
        font-size: 30px;
        text-transform: uppercase;
        display: block;
        opacity: 1;
    }
    &__text{
        color: $color-text--darken;
        text-transform: uppercase;
        display: block;
        opacity: 1;
    }
}
.section-portfolio{
    padding: 100px 0 100px 50px;
    width: 100%;
    position: relative;
    &__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 150px 0;
        overflow: hidden;
    }
}
.portfolio-card{
    cursor: pointer;
    &__wrapper{
        height: 100%;
        display: flex;
        gap: 20px;
        position: relative;
    }
    &__info{
        flex: 0 0 auto;
        height: 100%;
    }
    &__title{
        font-size: 50px;
        .split-text__letter{
            transform: translate(0, 50px);
        }
    }
    &__text{
        margin-top: -5px;
        font-size: 27px;
        color: $color-text--darken;
        .split-text__letter{
            transform: translate(0, 50px);
        }
    }
    &__image{
        flex: 0 0 auto;
        height: 330px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &:nth-child(odd) {
        .portfolio-card__image{
            transform: translate(-50px, 0);
        }
    }
    &:nth-child(even) {
        margin-left: auto;
        .portfolio-card__title, .portfolio-card__text{
            text-align: right;
        }
        .portfolio-card__image{
            transform: translate(50px, 0);
        }
    }
}
.popup-portfolio-card{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary;
    opacity: 0;
    z-index: -1;
    padding: 15px 100px;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    &__header{
        width: 100%;
        display: flex;
        margin-bottom: auto;
    }
    &__close{
        margin-left: auto;
        position: relative;
        height: 30px;
        flex: 0 0 30px;
        cursor: pointer;
    }
    &__close-line{
        display: block;
        width: 0;
        height: 2px;
        background-color: $color-text--dark;
        position: absolute;
        left: 50%;
        top:50%;
        &_1{
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &_2{
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    &__body{
        display: flex;
        gap: 50px;
    }
    &__info{
        flex: 0 0 auto;
    }
    &__title{
        font-size: 60px;
        text-transform: uppercase;
        .split-text__letter{
            transform: translate(0, 15px);
            opacity: 0;
        }
    }
    &__description{
        font-size: 20px;
        text-transform: uppercase;
        max-width: 250px;
        color: $color-text--dark;
        .split-text__letter{
            transform: translate(0, 15px);
            opacity: 0;
        }
    }
    &__img{
        flex: 1 1 auto;
        max-width: 700px;
        height: 350px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__footer{
        margin-top: auto;
        position: relative;
        padding: 25px 0;
    }
    &__line{
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
        height: 1px;
        background-color: $color-text--dark;
    }
    &__footer-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text{
        font-size: 20px;
        color: $color-text--dark;
        .split-text__letter{
            transform: translate(0, 15px);
            opacity: 0;
        }
    }
    &__link{
        color: $color-text--dark;
        font-size: 20px;
        .split-text__letter{
            transform: translate(0, 15px);
            opacity: 0;
        }
    }
}
.popup-card{
    position: fixed;
    z-index: -1;
    opacity: 0;
    img{
        width: 100%;
        height: 100%;
    }
}
.section-skills{
    // width: 100vw;
    padding: 100px 0 100px 50px;
    display: grid;
    grid-template-columns: 1fr;
    &__wrapper{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100vh;
    }
    &__line{
        flex: 1 1 50%;
        display: inline-flex;
        gap: 15px;
        position: relative;
    }
}
.skill-card{
    flex: 1 1 33.33%;
    min-width: 33.33%;
    height: 100%;
    background-color: #202020;
    padding: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    &__header{
        width: 100%;
        flex: 0 0 auto;
        display: flex;
        align-items: start;
        margin-bottom: auto;
    }
    &__num{
        margin-left: auto;
        font-size: 40px;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
    }
    &__bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 5%;
        height: 5%;
        border-radius: 50%;
        opacity: 0;
        background-color: $color-secondary;
        z-index: 0;
    }
    &__body{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__title-wrapper{
        position: relative;
    }
    &__title{
        margin-top: auto;
        font-size: 78px;
        text-transform: uppercase;
        letter-spacing: 2px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        position: relative;
        overflow: hidden;
    }
    &__title-before{
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        font-size: 78px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: transparent;
        -webkit-text-fill-color: $color-text--darken;
        -webkit-text-stroke-width: 1.3px;
        height: 0;
        overflow: hidden;
    }
    &__title-after{
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        font-size: 78px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: transparent;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1.3px;
        width: 0;
        overflow: hidden;
    }
}
.section-global{
    width: 100%;
    height: 1000px;
}